.git
.docker-local/
.pytest_cache/
.venv/
.venv-v2/
.vscode/
.devcontainer/
version1/
__pycache__/
*.pyc
*.pyo
*.pyd
data/
results/
notebooks/
tests/
scripts/
Start NophiGene UI.cmd
Stop NophiGene UI.cmd
