# Python venv
.venv/

# VS Code settings
.vscode/

# Byte-compiled / cache
__pycache__/
*.pyc

# Data and results
data/
results/

# Docker dev files
.devcontainer/

# Helper Scripts
src/helper_functions/

